@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  background-color:#181233;
}
@mixin round() {
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

@mixin btn($color,$bg,$w,$h) {
  color:$color;
  background-color:$bg;
  width:$w;
  height:$h;
  -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

@mixin whitebox() {
  width:360px;
  height:auto;
  background-color:#fff;
@include round();
    text-align:center;
  margin:0 auto;
  padding:15px;
  img {
    @include round();
    width:330px;
    height:220px;
    
  }
  
  h3 {
    @include font-regular(#000,16px,center,bold,uppercase);
    margin:15px 0px 15px 0px;
  }
  p {
    @include font-regular(#000,14px,center,bold,uppercase);
    margin-bottom:30px;
  }
}

@mixin font-regular($color,$size,$align:'left',$weight:'normal',$transform:'lowercase') {
  font-family:Roboto;
  color:$color;
  font-size:$size;
  text-align:$align;
  font-weight:$weight;
  text-transform:$transform;
}

@mixin reset-margins() {
    margin:0px;
    padding:0px;
}

.whitebox {
  @include whitebox();
}

/* section for the what you get */
.what-you-get {
  .row {
   @include reset-margins(); 
  }
  .col-md-4 {
    @include reset-margins();   
  }
   h2 {
    @include font-regular(#fff,42px,center,bold,uppercase);
     margin-bottom:50px;
  }
  
  .btn {
    @include btn(#181233,#1de6c7,140px,40px);
    margin-top:60px;
  }
}

.align-center {
  margin:0 auto;
  text-align:center;
}