@import url('https://fonts.googleapis.com/css?family=Roboto');

@mixin font-regular($color,$size,$align:'left') {
  font-family:Roboto;
  color:$color;
  font-size:$size;
  text-align:$align;
}

@mixin clip-left() {
  -webkit-clip-path: polygon(0% 0%, 80% 0, 100% 100%, 75% 100%, 0% 100%);
clip-path: polygon(0% 0%, 80% 0, 100% 100%, 75% 100%, 0% 100%);
}

@mixin clip-right-reverse() {
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 100%, 75% 100%, 25% 100%);
clip-path: polygon(0% 0%, 100% 0, 100% 100%, 75% 100%, 25% 100%);
}

@mixin clip-right() {
-webkit-clip-path: polygon(14.5% 0, 100% 0, 100% 100%, 75% 100%, 0% 100%);
clip-path: polygon(14.5% 0, 100% 0, 100% 100%, 75% 100%, 0% 100%);
}

@mixin reset-margins() {
    margin:0px;
    padding:0px;
}



.fairly-quotes {
.image-element img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  @include clip-right-reverse();
}

  .row {
    margin:0px;
    padding:0px;
  }
  .col-md-7 {
    margin:0px;
    padding:0px;
  }
  .container-fluid {
    margin:0px;
    padding:0px;
  }
  background-color:#fff;
  h2 {
    @include font-regular(#181233,34px);
  }
  p {
    @include font-regular(#181233,18px);
// must to be a second fond.
    
  }
}

.carousel-indicators {
    position: absolute;
    bottom: -50px!important;
    left: 20px!important;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    text-align: left;
    list-style: none;
}

.carousel-indicators li {
  border:1px solid #181233!important; 
}
.carousel-indicators .active {
 background-color:#181233!important; 
}