section.happenings {
  padding: 10vh 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1, h2, h3, h4 {
    margin: 0;
    text-transform: uppercase;
  }

  h2 {
    font-size: 64px;
    margin-bottom: 64px;
    text-align: center;
  }

  h4 {
    font-size: 32px;
    text-align: center;
  }

  .container {
    @include breakpoint(mobileonly) {
      width: 92%;
    }
  }

  figure {
    width: 90%;
    margin-left: 5%;
    cursor: pointer;
    position: relative;
    margin-bottom: 100px;

    h3 {
      width: 90%;
      position: absolute;
      transform: translateY(-50%);
      z-index: 100;
      color: #FFF;
      font-size: 44px;
      padding-left: 20px;
      transition: color 300ms ease;
    }

    &.small {
      h3 {
        font-size: 36px;
      }
    }

    &.flipped {
      .card {
        transform: rotateY(180deg);
      }

      .overlay {
        display: none;
      }
    }
  }

  .card-container {
    min-height: 400px;
    position: relative;
    perspective: 800px;
  }

  .card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    z-index: 50;

    .front, .back {
      margin: 0;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }

    .front {
      background: no-repeat center center;
      background-size: cover;
    }

    .back {
      background: #FFF;
      padding: 20px;
      transform: rotateY(180deg);
      font-size: 120%;
      border-top: 6px solid #e5e5e5;
      display: flex;
      flex-direction: column;

      &.bullets {
        text-align: left;
      }

      p {
        position: relative;
        padding-left: 32px;
        width: 100%;
        text-align: left;

        &:before {
          content: " ";
          position: absolute;
          top: 6px;
          left: 0;
          width: 14px;
          height: 14px;
          background-color: #FFF;
          border-radius: 50%;
        }
      }
    }
  }

  &.purple {
    background-image: radial-gradient($light-purple, $dark-purple);

    h2, h4 {
      color: #FFF;
    }

    .card {
      .back {
        background-color: transparent;
        color: #FFF;
        border-top-color: darken(transparent, 10%);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &.pink {
    background: $pink;

    h2, h4 {
      color: #FFF;
    }

    .card {
      .back {
        background-color: $dark-purple;
        color: #FFF;
        border-top-color: darken($dark-purple, 10%);
      }
    }
  }

  .btn-apply {
    text-align: center;
    margin-top: 64px;
  }
}

section.discounts {
  background-image: radial-gradient($light-purple, $dark-purple);
  color: #FFF;
  padding: 20px;

  .row {
    margin-top: 12px;

    &.discount-item {
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      padding-bottom: 12px;
      font-size: 0.86em;

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
